name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Simulamos tu script de tests
      - name: dummy
        id: calculo
        run: |
          # Generamos una nota aleatoria entre 50 y 100
          NOTA_RANDOM=$(( ( RANDOM % 51 ) + 50 ))
          echo "Simulando ejecución de tests..."
          echo "Nota calculada: $NOTA_RANDOM"
          
          # Guardamos la nota en el output para el siguiente paso
          echo "puntos=$NOTA_RANDOM" >> $GITHUB_OUTPUT

      # 2. Ejecutamos la acción de Mark Patterson
      - name: Autograding Reporter
        uses: markpatterson27/autograding@dev-points-input-release
        with:
          points: ${{ steps.calculo.outputs.puntos }}
          available-points: 10
